@font-face {
    font-family: 'open_sansbold';
    src: url(../fonts/open-sans-fontfacekit/opensans_bold/OpenSans-Bold-webfont.woff);
}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url(../fonts/open-sans-fontfacekit/opensans_bolditalic/OpenSans-BoldItalic-webfont.woff)
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url(../fonts/open-sans-fontfacekit/opensans_extrabold/OpenSans-ExtraBold-webfont.woff)
}
@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url(../fonts/open-sans-fontfacekit/opensans_extrabolditalic/OpenSans-ExtraBoldItalic-webfont.woff);
}
@font-face {
    font-family: 'open_sansitalic';
    src: url(../fonts/open-sans-fontfacekit/opensans_italic/OpenSans-Italic-webfont.woff);
}
@font-face {
    font-family: 'open_sanslight';
    src: url(../fonts/open-sans-fontfacekit/opensans_light/OpenSans-Light-webfont.woff)
}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url(../fonts/open-sans-fontfacekit/opensans_lightitalic/OpenSans-LightItalic-webfont.woff)
}
@font-face {
    font-family: 'open_sansregular';
    src: url(../fonts/open-sans-fontfacekit/opensans_regular/OpenSans-Regular-webfont.woff)
}
@font-face{
    font-family: 'open_sanssemibold';
    src: url(../fonts/open-sans-fontfacekit/opensans_semibold/OpenSans-Semibold-webfont.woff)
}
@font-face{
    font-family: 'open_sanssemibold_italic';
    src: url(../fonts/open-sans-fontfacekit/opensans_semibolditalic/OpenSans-SemiboldItalic-webfont.woff)
}

body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
}
#top{
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    position: fixed;
    width: 100%;
    height: 15vh;
    z-index: 2;
}
nav.active{
    background-color: #ccb4a080;
}
nav ul#large-nav{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    list-style-type: none;
    height: 100%;
    align-items: center;
    padding-right: 5%;
    font-family: open_sanslight, sans-serif;
}
nav ul#large-nav li{
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
}
nav ul#large-nav li:hover{
    border-bottom: 1px solid rgba(0,0,0,1);
}
#navsmall{
    display: none;
    position: fixed;
    height: 100%;
    width: 50%;
    background-color: rgba(0,0,0,0.5);
    right: 0;
}
#navsmall ul{
    list-style-type: none;
    color: white;
    padding: 10px 0;
    font-family: open_sanslight,sans-serif;
}
#navsmall ul li{
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0;
    font-size: 2em;
    width: 50%;
    margin: auto;
}
#navsmall ul li:hover{
    border-bottom: 1px solid white;
}
#navsmallbtn{
    display: none;
    float: right;
}
#navsmallbtn,#navsmall button{
    border: none;
    background: transparent;
    padding: 15px;
}
#navsmallbtn.active{
    display: none;
}
#navsmallbtn img,#navsmall button img{
    width: 25px;
}
#navsmall button{
    position: absolute;
    padding: 20px 30px;
}
#description{
    display: flex;
    height: fit-content;
    background-color: #CCB4A0;
    align-items: center;
    min-height: 80vh;
}
#desc-img{
    display: flex;
    flex: 1.4;
    height: 80vh;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
#desc-img img{
    height: 80%;
    border-radius: 50px;
}
#desc-text{
    flex: 2;
    height: 80%;
    text-align: center;
    color: white;
}
#desc-text h2{
    font-family: open_sanslight_italic,sans-serif;
    font-size: 3em;
    margin: 20px 0;
}
#desc-text p{
    font-family: open_sanslight,sans-serif;
    font-size: 1.6em;
    width: 70%;
    margin: auto;
}
#sandals{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    width: 100%;
    padding: 50px 5%;
}
#sandals div{
    height: 275px;
    display: flex;
    align-items: center;
}
#sandals div img{
    height: 275px;
    width: 90%;
}
#sandals h1{
    display: none;
    font-family: open_sanslight,sans-serif;
    font-size: 4em;
    color: #945E31;
    text-align: center;
    width: 100%;
}
#sandals div h1{
    display: block;
}
#reviews{
    background-color: #CCB4A0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    width: 100%;
    padding: 80px 7%;
}
#reviews div{
    border-radius: 50px;
    background-color: white;
    color: #945E31;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    font-family: open_sansregular,sans-serif;
    width: 90%;
    font-size: 1.2em;
    position: relative;
    min-height: 250px;
}
#reviews div span{
    position: absolute;
    top: -10px;
    left: 50%;
    height: 30px;
    width: 40px;
}
#reviews div img {
    width: 25px;
}
#contact-wrap{
    background-color: #945E31;
}
#contact{
    padding: 25px 5%;
    color: #945E31;
    background-color: rgba(255,255,255,0.87);
}
#contact h1{
    font-family: open_sanslight_italic,sans-serif;
    font-size: 2em;
    text-align: center;
}
.form-group{
    display: flex;
    margin: 20px 0;
}
#contact label{
    font-family: open_sanslight,sans-serif;
    width: 20%;
    font-size: 2em;
}
#contact input,#contact textarea{
    width: 70%;
    background-color: white;
    border: 1px solid #707070;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 0 5px;
}
#contact textarea{
    height: 300px;
    padding: 0;
}
.reply{
    font-size: 20px;
    font-family: opensans_light,sans-serif;
    width: 70%;
    text-align: center;
    margin: auto;
}
input:focus,button:focus{
    outline: none;
}
.form-group.submit{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.form-group button{
    float: right;
    border: 1px solid #707070;
    height: 40px;
    padding: 0 10px;
    background: white;
    width: 120px;
    font-size: 1.3em;
    border-radius: 10px;
    cursor: pointer;
    font-family: open_sansregular,sans-serif;
}
#copyright{
    text-align: center;
    font-family: open_sanslight_italic,sans-serif;
    font-size: 1.5em;
}
#social{
    background-color: #CCB4A0;
}
#social div{
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
#social img{
    height: 40px;
}
@media(max-width: 900px){
    #sandals{
        grid-template-columns: repeat(2,1fr);
    }
    #sandals div:nth-of-type(5){
        display: none;
    }
    #reviews{
        padding: 80px 2%;
    }
    #reviews div{
        width: 100%;
    }
    #sandals h1{
        display: block;
        grid-column: 1/3;
    }
}
@media (max-width: 800px){
    #desc-img img {
        height: 60%;
        border-radius: 50px;
        width: 90%;
    }
}
@media (max-width: 750px){
    #sandals{
        padding: 50px 2%;
    }
    #contact label{
        width: 30%;
    }
}
@media(max-width: 700px){
    #reviews{
        grid-template-columns: 1fr 1fr;
    }
    #reviews div{
        height: fit-content;
        min-height: 200px;
    }
}
@media(max-width: 600px) {
    #top{
        background-image: url(../images/background-rotate.jpg);
        background-position: -20px;
    }
    #description {
        display: grid;
        padding-bottom: 20px;
        height: 850px;
    }
    #desc-img {
        height: 100%;
    }
    #desc-img img {
        width: 80%;
        height: 80%;
    }
    nav ul#large-nav{
        display: none;
    }
    #navsmallbtn{
        display: block;
    }
    #navsmall.active{
        display: block;
    }
    nav.active{
        height: 9.5vh;
    }
    #sandals{
        grid-template-columns: 1fr;
    }
    #sandals div{
        display: flex;
        justify-content: center;
    }
}
@media (max-width : 500px) {
    #reviews {
        grid-template-columns: 1fr;
    }

    #reviews div{
        min-height: 300px;
        width: 80%;
        margin: auto;
    }
    .form-group{
        display: block;
    }
    #contact label{
        display: block;
        margin: 10px 0;
        width: 100%;
    }
    #contact input{
        height: 40px;
    }
    #contact input,#contact textarea{
        width: 100%;
    }
    .form-group.submit{
        width: 100%;
    }
}